{#
/**
 * @file
 * Custom Template for page content.
 *
 * @ingroup themeable
 */
#}
<article class="product-list-page">

  <div class="container">
    <div class="row">
      <div class="col-lg-3">

        {{ drupal_block('wlw_product_list_menu_block') }}
        {{ drupal_block('wlw_product_list_filter_block') }}

        {% for item in node.field_section_sidebar %}
          {{ drupal_entity('paragraph', item.target_id) }}
        {% endfor %}

      </div>
      <div class="col-lg-9">

        {% for item in node.field_section_content %}
          {{ drupal_entity('paragraph', item.target_id) }}
        {% endfor %}

        {{ drupal_block('wlw_product_list_block') }}

      </div>
    </div>
  </div>

</article>
