{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {# {{- product|without('variation_attributes') -}} #}
  <div class="product-wrapper">
  <div class="row">
    <div class="col-md-7">{{ product.field_product_image }}</div>

    <div class="col-md-5">
    <div>{{ product|without('field_product_image','field_nutritive_value','body','field_ingredient','field_allergene','field_header') }}</div>
    <div class="buttons">
      <a  class="showSingle active" target="1">Beschreibung</a>
      <a  class="showSingle" target="2">Nährstoffe</a>
    </div><!-- /.buttons -->

      <div id="div1" class="targetDiv">{{ product.field_header }} {{ product.body }} {{ product.field_ingredient }} {{ product.field_allergene }}</div>
      <div id="div2" class="targetDiv">{{ product.field_nutritive_value }}</div>
    </div>

  </div>
  </div>

</article>
